@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --light__clr: hsl(0, 0%, 100%);
    --brand__clr: hsl(36, 80%, 50%);
    --secondary__clr: hsl(36, 5%, 90%);
    --danger__clr: hsl(355, 80%, 50%);
    --light__danger__clr: hsl(355, 80%, 50%, 25%);
    --success__clr: hsl(120, 100%, 20%);
    --light__success__clr: hsl(122, 40%, 45%, 40%);
    --light__secondary__clr: hsl(249, 6%, 23%);
    --light__brand__clr: hsl(36, 95%, 85%);
    --dark__brand__clr: hsl(36, 87%, 38%);
    --extra__light__brand__clr: hsl(36, 100%, 95%);
    --extra__dark__brand__clr: hsl(36, 100%, 5%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: var(--extra__light__brand__clr);
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

img {
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--light__brand__clr);
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;

    &.active {
        display: flex;
    }

    #loder {
        position: relative;
        border: 4px solid var(--brand__clr);
        border-top: 4px solid transparent;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
        display: block;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.alert {
    position: fixed;
    top: 2rem;
    right: -20rem;
    z-index: 1;
    padding: 16px 20px;
    border-radius: 5px;
    text-transform: capitalize;

    &.active {
        right: 2rem;
    }

    &.alert-danger {
        color: var(--light__clr);
        background: var(--danger__clr);
    }

    &.alert-success {
        color: var(--light__clr);
        background: var(--success__clr);
    }
}

.container {
    width: 100%;
    max-width: 85rem;
    padding: 0 2rem;
    margin-inline: auto;
}


.header {
    position: relative;
    background-color: var(--light__clr);
    box-shadow: 0px 2px 4px var(--extra__light__brand__clr);

    .navbar {
        display: flex;
        padding: 20px 40px;
        justify-content: space-between;
        align-items: center;

        .navbar__logo h2 {
            text-transform: uppercase;
            font-size: 22px;

            span {
                color: var(--brand__clr);
                font-size: 28px;
            }
        }

        .btn__cart {
            all: unset;
            background: var(--light__brand__clr);
            padding: 8px 24px;
            font-size: 18px;
            font-weight: 500;
            border-radius: 4px;
            color: var(--brand__clr);
            border: 1px solid var(--brand__clr);
            transition: all 0.5s linear;
            cursor: pointer;

            &:hover,
            &:active {
                color: var(--light__clr);
                background: var(--brand__clr);
            }
        }
    }
}

.hero__showcase {
    position: relative;
    min-height: 350px;
    background-color: var(--light__brand__clr);
    margin: 20px 40px;
    overflow: hidden;

    img {
        position: absolute;
        inset: 0;
        height: 100%;
        object-position: left;
        object-fit: cover;
    }
}

.product__btn {
    display: flex;
    align-items: center;

    .btn__add__to__cart {
        all: unset;
        padding: 10px 12px;
        background: var(--dark__brand__clr);
        color: var(--light__clr);
        margin-right: 8px;
        border-radius: 5px;
        text-align: center;

        i {
            font-size: 24px;
        }
    }

    .btn__view__product {
        flex: 1;
        padding: 12px 20px;
        text-align: center;
        font-weight: 500;
        border-radius: 5px;

        color: var(--dark__brand__clr);
        background-color: var(--light__brand__clr);
    }
}

.main {
    padding-bottom: 4rem;

    .products {
        .products__title {
            text-align: center;
            margin-bottom: 1rem;
            color: var(--extra__dark__brand__clr);

            span {
                font-size: 28px;
                color: var(--brand__clr);
            }
        }

        .products__row {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
            gap: 1rem;

            .product__card {
                position: relative;
                background-color: var(--light__clr);
                padding: 2rem;
                margin-bottom: 1rem;

                img {
                    width: 100%;
                    height: 300px;
                    object-fit: contain;
                }

                .product__name {
                    font-size: 18px;
                    margin-bottom: 8px;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }

                .product__price {
                    margin-bottom: 1rem;
                }

            }
        }
    }
}

.products__page {
    margin: 40px;
    padding-bottom: 4rem;

    .product__showcase {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;

        .product_image {
            flex: 1;
            background-color: var(--light__clr);
            padding: 20px;
            border-radius: 12px;

            img {
                width: 100%;
                height: 100%;
                max-height: 500px;
                object-fit: contain;
            }

        }

        .product__details {
            flex: 1;

            #category {
                padding: 8px 24px;
                background: var(--light__brand__clr);
                width: fit-content;
                border: 2px dashed var(--brand__clr);
                border-radius: 32px;
                text-transform: capitalize;
                font-size: 14px;
                color: var(--dark__brand__clr);
                margin-block: 1rem;
            }

            #price {
                font-size: 32px;
            }

            #rating,
            #total_item {
                font-size: 18px;
            }

            #description {
                font-size: 16px;
                margin-block: .25rem;
            }

            .btn__add__to__cart {
                all: unset;
                background: var(--brand__clr);
                padding: 12px 24px;
                margin-top: 1rem;
                font-size: 18px;
                font-weight: 500;
                border-radius: 32px;
                border: 1px solid var(--dark__brand__clr);
                transition: all 0.5s linear;
                cursor: pointer;

                &:hover,
                &:active {
                    background: var(--dark__brand__clr);
                }
            }
        }
    }
}


.cart__page {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 40px;
    gap: 2rem;
    padding-bottom: 4rem;

    .cart_detail {
        position: sticky;
        top: 20px;
        height: fit-content;
        background-color: var(--light__clr);
        padding: 20px;

        .cart__detail__header {
            h2 {
                font-size: 20px;
                font-weight: 400;
                padding-bottom: 8px;
            }

            border-bottom: 2px solid var(--secondary__clr);
        }

        .cart__details__footer {
            .form_group {
                margin-top: 1rem;
                padding: 20px;
                background: var(--light__brand__clr);
                border: 2px dashed var(--brand__clr);

                label {
                    display: block;
                    font-size: 14px;
                }

                input {
                    outline: none;
                    border: none;
                    display: block;
                    width: 100%;
                    padding: 16px;
                    background: var(--light__clr);

                }

                button {
                    outline: none;
                    width: 100%;
                    margin-top: 1rem;
                    padding: 16px;
                    cursor: pointer;
                    font-size: 16px;
                    border-radius: 4px;
                    color: var(--light__clr);
                    background: var(--brand__clr);
                    border: 1px solid var(--dark__brand__clr);
                }
            }
        }

        .cart__detail__body {
            .items {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .item__detail {
                    padding-block: 8px;
                    font-size: 18px;
                }

                &:last-child {
                    border-top: 2px solid var(--secondary__clr);
                    border-bottom: 2px solid var(--secondary__clr);

                    .item__detail {
                        font-size: 22px;
                    }
                }
            }
        }
    }

    .cart_item {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .cart_card {
            padding: 20px;
            background: var(--light__clr);
            display: flex;
            align-items: center;
            gap: 1rem;

            .img {
                img {
                    width: 100px;
                    height: 100px;
                    object-fit: contain;
                }
            }

            .product_details {
                position: relative;
                flex: 1;

                .product__name {
                    font-size: 18px;
                }

                .btn__remove {
                    all: unset;
                    position: absolute;
                    right: 0;
                    top: 0;
                    cursor: pointer;
                    padding: 8px 12px;
                    border-radius: 8px;
                    color: var(--light__clr);
                    background: var(--danger__clr);
                }

                .input_group {
                    display: flex;
                    align-items: center;
                    margin-block: 1rem;

                    input {
                        outline: none;
                        padding: 16px;
                        width: 100px;
                        border: 1px solid var(--secondary__clr);
                    }

                    button {
                        all: unset;
                        cursor: pointer;
                        padding: 12px;
                        background: var(--secondary__clr);

                    }
                }
            }
        }
    }

}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: var(--brand__clr);
    padding: 20px 40px;

    .footer_group {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            color: var(--light__clr);

            span {
                color: var(--danger__clr);
            }
        }
    }
}

@media screen and (max-width:1440px) {
    .product__card {
        .product__btn {
            gap: 8px;
            flex-direction: column;

            &>.btn {
                width: -webkit-fill-available;
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .hero__showcase {
        margin-inline: 0;
    }

    .header {
        .navbar {
            padding: 8px 16px;

            .navbar__logo h2 {
                font-size: 14px;

                span {
                    font-size: 18px;
                }
            }

            .btn__cart {
                padding: 8px;
                font-size: 12px;
            }
        }
    }

    .products__page {
        margin-inline: 0;

        .product__showcase {
            flex-direction: column;
            margin-bottom: 2rem;
        }
    }

    .cart__page {
        margin-inline: 0;
        grid-template-columns: 1fr;
    }
}


@media screen and (max-width:525px) {
    .products__page {
        margin-inline: 0;

        .product__showcase {
            flex-direction: column;
            margin-bottom: 2rem;
        }
    }

    .cart__page {
        margin-inline: 0;
        grid-template-columns: 1fr;
    }
}